<div class="sidenav sidenav__unactive" id="sideNav">
  <div class="logo__wrapper">
    <div class="d-flex justify-content-center align-items-center logo__image">
      <img src="/img/navLogo.svg" alt="" />
    </div>
  </div>
  ​
  <ul class="sidenav_links d-sm">
    <li>
      <a class="<%= dashboardPath === '/employee/dashboard' ? 'active' : '' %>"
        href="<%= dashboardPath %>">Dashboard</a>
    </li>
    <li>
      <a class="<%= profilePath === '/employee/profile' ? 'active' : '' %>" href="<%= profilePath %>">Profile</a>
    </li>
    <li>
      <a class="<%= portfolioPath === '/employee/portfolio' ? 'active' : '' %>"
        href="<%= portfolioPath %>">Portfolio</a>
    </li>
    <li>
      <a class="<%= path === '/employee/message' ? 'active' : '' %>" href="/employee/message">Messages</a>
    </li>

  </ul>
</div>
​
<div id="body__click"></div>