<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include('../../Templates/head') %>
    <link rel="stylesheet" href="/styles/custom-css/payment-method.css" />
  </head>

  <body style="background-color: #fafafa;">
    <!-- <%- //include('../../Templates/header') %> -->
    <div
      class="packages-header mt-4 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"
    >
      <h1 class="h2">Packages</h1>
      <p>
        Premium packages to help you hire talents faster.
      </p>
      <% if(error != '') { %>
        <p><%= error%></p>
      <% }
      if(success != '') { %>
        <p><%= success%></p>
      <% } %>
    </div>
    <div class="container">
      <div class="row">
        <% data.forEach(function(package) { %>
        <div class="col-sm-10 col-md-6 col-lg-4">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">
                <%- package.package_name.split(' ') .map(w => w[0].toUpperCase() +
                w.substr(1).toLowerCase()) .join(' ') %>
              </h4>
            </div>
            <div class="card-body">
              <h1 class="card-title packages-card-title">
                <%= package.price %> <small class="text-muted">/ mo</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <p class="card-description">
                  <%= package.description %>
                </p>
                <% package.features.forEach(function(feature){ %>
                  <li>
                    <p style="font-size: 15px;">
                        <i class="fa fa-check"></i>&nbsp;&nbsp;
                      <%= feature.description %>
                    </p>
                  </li>
                <% }); %>
                
              </ul>
              <a href="/employer/packages/<%= package.package_id %>" class="text-white">
                <button
                  type="button"
                  class="btn hire-btn btn-lg btn-block text-white"
                >
                  Get started
                </button>
              </a>
            </div>
          </div>
          
        </div>
        </div>
        <% }); %>
      </div>
    </div>
    <%- include('../../Templates/footer') %>
  </body>
</html>

<!-- Sample of a payment success object -->
<!-- {
  status: 'success',
  message: 'Payment plan created',
  data: {
    id: 6336,
    name: 'Olufemi Obafunmiso',
    amount: 500,
    interval: 'monthly',
    duration: 1,
    status: 'active',
    currency: 'NGN',
    plan_token: 'rpp_0f96fe1c805d39d96c21',
    created_at: '2020-07-17T07:33:32.000Z'
  } -->