<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('../Templates/head') %>
    <link rel="stylesheet" href="../styles/custom-css/admin-login.css">
</head>

<body>
    <!-- NAV-BAR -->
    <%- include('../Templates/header') %>

    <main class="container-fluid content-container">
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block signup-img ">
            </div>
            <div class=" col-lg-7 px-4">                
                <div class="container pl-lg-5 pr-lg-3 pt-4">
                    <div class="pt-5 pb-2">
                        <p class="bigTitle">Welcome back</p>
                        <p class="smallTitle">Enter your email and password to access your account</p>
                    </div>
                    <% if (errorMessage) { %>
                        <div role="alert" class="alert alert-danger user-message user-message--error"><%= errorMessage %></div>
                    <% } %>
                    <form class="needs-validation" novalidate id="form"  action="/admin-login" method="POST">

                            <div class="col-md mb-3 px-0">
                                <label for="email">Email</label>
                                <input 
                                class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                type="email" 
                                name="email" 
                                id="email" 
                                placeholder="example@gmail.com"
                                value="<%= oldInput.email %>">
                                <!-- <input type="email" class="form-control" id="email" placeholder="example@gmail.com"
                                    required>
                                <div id="invalidE">
                                </div> -->
                            </div>

                            <div class="col-md mb-3 px-0">
                                <label for="password">Password</label>
                                <input 
                                class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                                type="password" 
                                name="password" 
                                id="password" 
                                minlength="8" placeholder="at least 8 characters"
                                value="<%= oldInput.password %>">
                                <!-- <input type="password" class="form-control" id="password" minlength="8"
                                    placeholder="at least 8 characters" required>
                                <div id="invalidPass">
                                </div> -->
                            </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="row px-3">
                            <div class="col my-1 px-0">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="rememberMe">
                                    <label class="custom-control-label policyAgree" for="rememberMe">Remember
                                        me</label>
                                </div>
                            </div>
                            <div class="col text-right px-0">
                                <p class="mt-1"> <a href="./recover-password" class="login-link">Forgot
                                        Password?</a></p>
                            </div>
                        </div>
                        <div class="loader"></div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary btn-block btn-color py-3 mt-3 mb-4 text-white"
                                    id="signup-btn" type="submit" data-toggle=""
                                    data-target="#exampleModal">Login</button>
                            </div>
                        </div>
                    </form>                 
                    <div class="row">
                        <div class="col-md-5 d-none d-md-block">
                            <hr>
                        </div>
                        <div class="col-md-2">
                            <p class="text-center">OR</p>
                        </div>
                        <div class="col-md-5 d-none d-md-block">
                            <hr>
                        </div>
                    </div>
                    <div class="row mt-2 justify-content-center">
                        <div class="col-md">
                            <button type="button" class="btn  btn-block  github-btn py-3 my-1"><i
                                class="fab fa-github pr-2"></i>Login with Github</button>
                        </div class>

                        <div class="col-md">
                            <button type="button" id="googleBtn" class="btn btn-block  google-btn py-3 my-1"><i
                                    class="fab fa-google pr-2"></i>Login with Google</button>
                        </div>
                    </div>

                    <p class="text-center py-2">Don't have an account with us? <a href="/admin-signup"
                            class="login-link">Sign Up.</a></p>
                    </div>
                </div>           
            </div>
        </div>
    </main>

    <%- include('../Templates/footer') %>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="module" src="js/custom-js/admin-login.js"></script>
    <script src="https://kit.fontawesome.com/5f006efe51.js" crossorigin="anonymous"></script> -->

</body>

</html>