<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../Templates/head') %>
        <link href="../styles/bootstrap-css/bootstrap.css" rel="stylesheet" />
        <link href="../styles/custom-css/employer-top-nav.css" rel="stylesheet" />
        <link href="../styles/custom-css/side-nav.css" rel="stylesheet" />
        <link href="../styles/custom-css/admins-list.css"  rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" />
    </head>
    <body>

        <%- include('../Templates/admin-header') %>

          <%- include('../Templates/admin-sidebar') %>

        <section class="admin__dashboard" style="margin-top: -70px;">
            <h2 class="dashboard__heading">Admins List </h2>

            <div class="page-content mt-5  py-0">
                <!-- header -->
                <div class="container px-3 pb-sm-0 mt-5"> 
                     <div class="row  justify-content-between">
                        <div class="   col-md-5  col-lg-4" >
                            <div class="form-group">
                                <input type="search" class="form-control" id="search" placeholder="Search Admin">
                            </div>
                         </div>
                        <div class="  col-md-4 col-lg-3">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Add Admin</button>
    
                        </div>
                     </div>
                </div>
    
                <div class="container px-3 pt-sm-0 ">
                     <div class="table-responsive">
                        <table class="table table-striped" id="table">
                            <thead class="">
                              <tr>
                                <th scope="col">Status</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Role</th>
                                <th scope="col">Created</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                            <% allAdmins.forEach(function(admin) { %>
                        
                              <% if (admin.id != 1) {%>
                                <% if (admin.User.block != true) { %>
                                  <tr id="table-row">
                                    <th scope="row"><i class="fa fa-unlock" aria-hidden="true"></i></th>
                                <% } %>
                                <% if (admin.User.block) { %>
                                  <tr id="table-row" style="background-color: lightcoral;">
                                    <th scope="row"><i class="fa fa-lock" aria-hidden="true"></i><span class="badge badge-danger">BLOCKED</span></th>
                                <% } %>
                                    <td><%= admin.firstName %></td>
                                    <td><%= admin.lastName %></td>
                                    <td><%= admin.phoneNumber %></td>
                                    <td>Admin</td>
                                    <td><%= moment(admin.createdAt).format('MMMM Do YYYY') %></td>
                                    <td class="px-0"> 
                                        <a onclick= 'toBlock("<%= admin.user_id %>", "<%= admin.firstName %> <%= admin.lastName %>",  "<%= csrfToken %>")'href="#"><i class="admin-action fas fa-ban" style= "color:orange;"></i></a>
                                        <a onclick= 'toUnblock("<%= admin.user_id %>", "<%= admin.firstName %> <%= admin.lastName %>", "<%= csrfToken %>" )'href="#"><i class="fa fa-unlock" style= "color: green ; padding: 10px;" aria-hidden="true"></i></a>
                                        <a onclick= 'toDelete("<%= admin.user_id %>", "<%= admin.firstName %> <%= admin.lastName %>", "<%= csrfToken %>")'href="#"><i class="admin-action fas fa-trash-alt" style= "color: red ; padding: 10px;"></i></a>
                                    </td>
                                  </tr>
      
                              <% } %>
                            <% }) %>
                        
                            </tbody>
                          </table>
                     </div>
                     <div class="d-flex">
                      <div class="ml-auto p-2">
                          <a href="" style="padding: 10px;"><i class="fa fa-chevron-left" aria-hidden="true" style="padding: 10px;"></i>Prev</a>
                          <a href="" style="padding: 10px;">Next<i class="fa fa-chevron-right" aria-hidden="true" style="padding: 10px;"></i></a>
                      </div>
                  </div>
                </div>
                <!-- Modal -->
    <div class="modal fade p-0" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content p-3">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add new admin</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="adminForm" action="/v1/admin/create" method="POST" novalidate>
                  <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                    <div class="row">
                        <div class="col-md form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="fnameV2" placeholder="First Name" name="firstName" required>
                    
                        </div>
                        <div class="col-md form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lnameV2" placeholder="Last Name" name="lastName" required>
                    
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="email">Email :</label>
                        <input type="email" class="form-control" id="emailV2" placeholder="Email" name="email" required>
                    </div>
                    <div class="row">
                        <div class="col-md form-group">
                            <label for="password">Password :</label>
                            <input type="password" class="form-control" id="passwordV2" placeholder="Password" name="password" required>
                           
                          </div>
                          <div class="col-md form-group">
                            <label for="confirm-password">Confirm Password :</label>
                            <input type="password" class="form-control" id="confirmPasswordV2" placeholder="Confirm Password" name="confirm_password" required>
                        
                          </div>
                    </div>
                    <div class="form-group ">
                        <label for="phone">Phone :</label>
                        <input type="tel" class="form-control" id="phoneV2" placeholder="Enter Phone number" name="phoneNumber" required>
                     
                    </div>
                    <button onclick='toAddAdmin()' type="button" class="btn btn-primary">Save</button>
    
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
           
        </section>

        <div id="body__click"></div>
        
       
        <script src="../js/bootstrap-js/popper.js"></script>
        <script src="../js/bootstrap-js/jquery.js"></script>
        <script src="../js/bootstrap-js/bootstrap.js"></script>
        <script>
        $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
        })
        </script>
        <script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
        <script src="../js/custom-js/side-nav.js"></script>
        <script src="../js/custom-js/admin-list.js"></script>
    </body>
</html>