<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/employeeProfileHead') %>
    <style>
        .mr-2 img {
            vertical-align: middle;
            border-style: none;
            max-width: 60px;
            max-height: 60px;
        }
    </style>
</head>

<body>



    <%- include('../includes/employeeSideNav') %>

    <div class="modal fade" tabindex="-1" role="dialog" id="global_modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="container">
                    <div class="modal-header formCol">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" onclick="close_modal()"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>
    ​

    <main id="main-section">

        <%- include('../includes/employeeHeader') %>

        <section id="portfolio" class="mt-4">
            <div class="container-fluid">
                <% if (errorMessage) { %>
                    <div role="alert" class="alert alert-danger user-message user-message--error"><%= errorMessage %></div>
                <% }if (success && success.length > 0) { %>
                    <div role="alert" class="alert alert-success user-message"><%= success %></div>
                <% } %>
                <div class="row">
                    <div class="col-md-10">
                        <div class="card px-4 py-5 mb-3 bio">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="profile-container">
                                        <img src="<%= data.image %>" alt="" id="employee-img" class="img-fluid">
                                    </div>
                                    <div class="intern-main text-center mt-4">
                                        <h3 class="employeeName"><%= data.last_name %> <%= data.first_name%>
                                            <span>
                                                <% if(data.verification_status === "Pending") { %>
                                                <img src="" alt="">
                                                <% } else { %>
                                                <img src="/img/iprofile/ic_sharp-verified.svg" alt="">
                                                <% } %>
                                            </span>
                                        </h3>
                                        <p class="employeeSkill"><%= data.track %></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="intern-other">
                                        <p class="employeeUsername">
                                            <span><i class="pr-2 fa fa-user-circle" aria-hidden="true"></i></span>
                                            <%= data.username %>
                                        </p>
                                        <p class="employeeId">
                                            <span><i class="pr-2 fa fa-id-card" aria-hidden="true"></i></i></span>
                                            <%= data.hng_id %>
                                        </p>
                                        <p class="employeePhonenumber">
                                            <span><i class="pr-2 fa fa-phone" aria-hidden="true"></i></i></span>
                                            <%= data.phone_no %>
                                        </p>
                                        <p class="employeeEmail">
                                            <span><i class="pr-2 fa fa-envelope" aria-hidden="true"></i></span>
                                            <%= data.email %>
                                        </p>
                                        <p class="employeeDOB">
                                            <span><i class="pr-2 fa fa-calendar" aria-hidden="true"></i></i></span>
                                            <%= data.dob %>
                                        </p>
                                        <p class="employeeAvailability">
                                            <span><i class="pr-2 fa fa-wrench" aria-hidden="true"></i></span>
                                            <%= data.availability %>
                                        </p>
                                        <p class="employeeLocation">
                                            <span><i class="pr-2 fa fa-map-marker" aria-hidden="true"></i></span>
                                            <%= data.location %>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <hr class="mb-4">

                            <div class="text-center">
                                <a href="#" type="button" class="btn btn-lg btn-primary call-modal" title="Edit profile"
                                    data-modal-size="lg"><span id="edit_text">Edit Profile</span>
                                    <div class="hidden-content">
                                        <form action="/employee/update/profile?_method=PATCH" id="edit-profile" method="POST" enctype="multipart/form-data">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                            <p id="error-message"></p>
                                            <p id="success-message"></p>

                                            <div
                                                class="d-flex flex-column align-items-center text-center col-md-12 pb-3">
                                                <div class="form-group">
                                                    <label for="file"
                                                        class="d-flex align-items-center justify-content-center btn btn-primary btn-lg">Upload
                                                        profile
                                                        Picture</label>
                                                    <input type="file" id="file"
                                                        class="profile-picture-file form-control inputfile" name="image"
                                                        />
                                                </div>
                                                <small>Recommended dimensions: 200 x 200px. <br> Maximum file
                                                    size: 500kb.</small>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <label for="first name" class="super-label">
                                                            First Name
                                                        </label>
                                                        <div style="position: relative;">
                                                            <input type="text" value="<%= data.first_name %>"
                                                                class="form-control" id="first-name"
                                                                aria-describedby="nameHelp" name="firstName">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <div style="position: relative;">
                                                            <label for="lastname" class="super-label">
                                                                Last Name
                                                            </label>
                                                            <input type="text" value="<%= data.last_name %>"
                                                                class="form-control" id="last-name"
                                                                aria-describedby="nameHelp" name="lastName">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <div style="position: relative;">
                                                            <label for="username" class="super-label">
                                                                Username
                                                            </label>
                                                            <input type="text" value="<%= data.username %>"
                                                                class="form-control" id="last-name"
                                                                aria-describedby="nameHelp" name="userName">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <div style="position: relative;">
                                                            <label for="email" class="super-label">
                                                                Email
                                                            </label>
                                                            <input type="email" value="<%= data.email %>"
                                                                class="form-control" id="email"
                                                                aria-describedby="emailHelp" name="email">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <div style="position: relative;">
                                                            <label for="dob" class="super-label">
                                                                Date of Birth
                                                            </label>
                                                            <input type="date" value="<%= data.dob %>"
                                                                class="form-control" id="dob" aria-describedby="dobHelp"
                                                                name="dateOfBirth">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <div style="position: relative;">
                                                            <label for="dob" class="super-label">
                                                                Phone Number
                                                            </label>
                                                            <input type="number" value="<%= data.phone_no %>"
                                                                class="form-control" id="phone-number"
                                                                aria-describedby="phoneNoHelp" name="phoneNo">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <div style="position: relative;">
                                                            <label for="location" class="super-label">
                                                                Location
                                                            </label>
                                                            <input type="text" value="<%= data.location %>"
                                                                class="form-control" id="location"
                                                                aria-describedby="locationHelp" name="location"
                                                                >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 tracks formCol">
                                                    <label class="super-label">Track</label>
                                                    <select class="form-control" name="track" >
                                                        <option value="">Select Track</option>
                                                        <option value="Frontend">Frontend</option>
                                                        <option value="Backend">Backend</option>
                                                        <option value="Design">Design</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Availability</label>
                                                    <select class="form-control" name="availability" >
                                                        <option value="not-available">Not Available</option>
                                                        <option value="on-site">On-Site</option>
                                                        <option value="remote">Remote</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <div style="position: relative;">
                                                            <label for="dob" class="super-label">
                                                                Resume (CV)
                                                            </label>
                                                            <input type="url" class="form-control"
                                                                placeholder="Link to your CV (URL)" name="employeeCv"
                                                             value="<%= data.employee_cv %>">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr>

                                            <div class="text-center save_profile">
                                                <button type="submit" class="btn btn-lg btn-primary">Save
                                                    profile</button>
                                            </div>
                                        </form>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <%- include('../Templates/flashmessagesclear') %>  
    <script src="/js/custom-js/modal.js"></script>
    <script src="/js/custom-js/side-nav.js"></script>
</body>

</html>