<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../Templates/head') %>
    <link rel="stylesheet" href="../styles/custom-css/employer-sign-in.css">
    <!-- BEGIN Pre-requisites -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="1044934768285-u3jh3gs8dv4u21uie9o32cbu0gv2erh4.apps.googleusercontent.com">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- END Pre-requisites -->
</head>

<body>
    <%- include('../Templates/header') %>

    <main class="container-fluid content-container">
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block signIn-img-div">
                <!-- <img src="img/employee_signup_image.png" alt="employee sign up image"> -->
            </div>

            <div class=" col-lg-7 px-4">
                <div class="container pl-lg-5 pr-lg-3 pt-4" id="parent">
                    <div class="pt-5 pb-2">
                        <p class="bigTitle">Welcome Back</p>
                        <p class="smallTitle">Get the right talent for that job now.</p>
                    </div>
                    <% if (errorMessage) { %>
                        <div role="alert" class="alert alert-danger user-message user-message--error"><%= errorMessage %></div>
                    <% } %>
                    <form class="needs-validation" method="POST" action="/employer-sign-in" novalidate id="form">

                        <div class="col-md mb-3 px-0">
                            <label for="email">Email</label>
                            <input 
                            class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                            type="email" 
                            name="email" 
                            id="email" 
                            placeholder="abc@gmail.com"
                            value="<%= oldInput.email %>">
                            <!-- <input type="email" class="form-control" id="email" placeholder="example@gmail.com"
                                required>
                            <div class="invalid-feedback">
                                Your valid email address is required.
                            </div> -->
                        </div>


                        <div class="col-md mb-3 px-0">
                            <label for="password">Password</label>
                            <input 
                            class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                            type="password" 
                            name="password" 
                            id="password" 
                            minlength="8" placeholder="at least 8 characters"
                            value="<%= oldInput.password %>">
                            <!-- <input type="password" class="form-control" id="password" minlength="8"
                                placeholder="at least 8 characters" required>
                            <div class="invalid-feedback" style="width: 100%;">
                                Your have not entered a correct password.
                            </div> -->
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <div class="row px-3">
                            <div class="col my-1 px-0">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="remember-me">
                                    <label class="custom-control-label terms-policy" for="remember-me">Remember
                                        me</label>
                                </div>
                            </div>
                            <div class="col text-right px-0">
                                <p> <a href="./recover-password" class="login-link">Forgot Password?</a></p>
                            </div>
                        </div>


                        <!-- <div class="row">
                            <div class="col d-flex align-items-center justify-content-center" id="button-div">
                                <button class="btn btn-primary btn-block btn-color py-3 mt-3 mb-4" id="signup-btn"
                                    type="submit">Sign In</button>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary btn-block btn-color py-3 mt-3 mb-4 text-white"
                                    id="signup-btn" type="submit" data-toggle=""
                                    data-target="#exampleModal">Sign In</button>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-md-5 d-none d-md-block">
                            <hr>
                        </div>
                        <div class="col-md-2">
                            <p class="text-center">OR</p>
                        </div>
                        <div class="col-md-5 d-none d-md-block">
                            <hr>
                        </div>
                    </div>

                    <div class="row mt-2 justify-content-center">
                        <div class="col-md">
                            <button type="button" class="btn  btn-block  github-btn py-3 my-1"><i
                                    class="fab fa-github pr-2"></i>Login with Github</button>
                        </div>
    
                        <div class="col-md">
                            <button type="button" id="googleBtn" class="btn btn-block  google-btn py-3 my-1" data-user="ROL-EMPLOYEE" data-longtitle="true"
                            data-onsuccess="onSignIn"><i
                                    class="fab fa-google pr-2"></i>Login with Google</button>
                        </div>

                        <!-- <div class="col-md">
                            <button type="button" class="btn  btn-block  github-btn py-3 my-1"><i
                                    class="fab fa-github pr-2"></i>Login with Github</button>
                        </div> -->
                     
    
                            <!-- <div  class="g-signin2" data-height="50" data-width="300" data-theme="dark" data-user="ROL-EMPLOYER" data-longtitle="true"
                                data-onsuccess="onSignIn">
                            </div> -->
                    </div>
    
                    <p class="text-center py-2">Don't have an account with us? <a href="/employer-sign-up"

                            class="login-link">Sign Up.</a></p>
                </div>
            </div>
        </div>
    </main>

    <%- include('../Templates/footer') %>

    <!-- <script>
        async function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            const role_id = document.querySelector('.g-signin2').dataset.user;
            var token = googleUser.getAuthResponse().id_token
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.disconnect();
            const userData = {
                role_id,
                token: token
            }
            axios.post('https://api.lancers.app/v1/auth/google', userData)
                .then(data => {
                    let decodedData = JSON.parse(atob(data.data.data.token.split('.')[1]))
                    const userData = {
                        ...decodedData,
                        token: data.data.data.token
                    }
                    localStorage.setItem("tpAuth", JSON.stringify(userData));
                    if (decodedData.userTypeId == null) {
                        window.location.replace('/employer-create-profile')
                    } else {
                        window.location.replace('/employee-dashboard')
                    }
                }).catch(function (error) {
                    console.log(error);
                    window.location.replace('/')
                });
        }
        
      </script> -->

    <!-- <script src="../js/bootstrap-js/popper.js"></script>
    <script src="../js/bootstrap-js/jquery.js"></script>
    <script src="../js/bootstrap-js/bootstrap.js"></script> -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/custom-js/employerlogin.js" type="module"></script> -->
</body>

</html>