<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('../includes/employeeHead') %>
</head>

<body>

  <%- include('../includes/employeeHeader') %>
  <%- include('../includes/employeeSideNav') %>

 

  <main>
    <div class="container-fluid mt-3 pb-5">
      <% if (errorMessage) { %>
        <div role="alert" class="alert alert-danger user-message user-message--error"><%= errorMessage %></div>
    <% }if (success && success.length > 0) { %>
        <div role="alert" class="alert alert-success user-message"><%= success %></div>
    <% } %>
      <div class="row mt-3 justify-content-center justify-content-md-start">
        <div class=" col-11 col-md-6">
          <h4 class="py-3 mb-0">Welcome <%= data.employee.username %>! </h4>
          <div
            class="tp-card d-flex flex-column justify-content-between p-3 bg-dark-blue text-white">
            <div>
              <p class="mb-3">Track <%= data.employee.track %>
              </p>
              <p class="mb-3">Talent type: <%= data.employee.user_type %> </p>
              <p class="mb-3">Availability:
                <%= data.employee.availability.replace('-', " ") %>
              </p>
              <p class="mb-3">Profile views:
                <%= data.employee.views %> </p>
              <p class="mb-3">Verification status:
                <%= data.employee.verification_status %> </p>
            </div>
          </div>
        </div>
        <div class="col-11 col-md-6 mt-5 mt-md-0">
          <h4 class="py-3 mb-0">Portfolio </h4>
          <div
            class="tp-card d-flex flex-column justify-content-between p-3 bg-light-blue text-white">
            <div>
              <% if (data.portfolios) { %>
              <ul class="list-unstyled">
                <% data.portfolios.forEach(function(item){ %>
                <li class="d-flex mb-3">
                  <a href=<%= item.link %> class="portfolio-link">
                    <%= item.title %>
                  </a>
                </li>
                <% }); %>
              </ul>
              <%} else { %>
              <p>Nothing added to portfolio yet</p>
              <% } %>
            </div>
            <div class="text-right mt-3">
              <a href="<%= portfolioPath %> "
                class="btn-link btn-sm btn tp-btn-outline-primary">View
                portfolio</a>
            </div>
          </div>
        </div>
        <div class=" col-11 col-md-6 mt-5">
          <h4 class="py-3 mb-0">Team </h4>
          <div
            class="tp-card d-flex flex-column justify-content-between p-3 bg-light-blue text-white">
            <div>
              <% if (data.team) { %>
              <p class="mb-3">You are a member of team
                <%= data.team.name %> </p>
              <p class="mb-0">
                <%= data.team.employer.employer_name %> </p>
              <% } else { %>
              <p class="mb-0">You are currently not in any team yet</p>
              <% } %>
            </div>
            <% if (data.team) { %>
            <div class="text-right mt-3">
              <button class="btn-sm btn tp-btn-outline-primary"
                data-toggle="modal" data-target="#teamModal">
                View team info
              </button>
            </div>
            <% } %>
          </div>
        </div>
        <div class=" col-11 col-md-6 mt-5">
          <h4 class="py-3 mb-0">Skills </h4>
          <div
            class="tp-card d-flex flex-column justify-content-between p-3 bg-dark-blue text-white ">
            <div>
              <% if (data.skills) { %>
              <ul class="list-unstyled">
                <% data.skills.forEach(function(skill){ %>
                <li class="d-flex pb-3">
                  <img class="img-fluid mr-3" src="/img/verified-icon.svg"
                    alt="portfolio verified">
                  <span class="d-inline-block"><%= skill.skill_description %>
                  </span>
                </li>
                <% }); %>
              </ul>
              <%} else { %>
              <h5>Nothing skills added yet</h5>
              <% } %>
            </div>
            <% if (data.skills) { %>
            <div class="text-right mt-3">
              <a href="/employee/profile"
                class="btn-link btn-sm btn tp-btn-outline-primary">View
                skills</a>
            </div>
            <%} else { %>
            <div class="text-right mt-3">
              <a href="/employee/profile"
                class="btn-link btn-sm btn tp-btn-outline-primary">Add
                skills</a>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <!-- <pre>
      <%#= JSON.stringify(data, "", 2) %> 
    </pre> -->
  </main>


  <!-- Modal -->
  <% if (data.team) { %>
    <div id="teamModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%= data.team.name %>
              (<%= data.team.status %> )
            </h5>
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="img-container">
              <img src=<%= data.team.employer.photo %> alt="employer photo"
                class="img-fluid rounded mx-auto">
            </div>
            <div class="mt-4">
              <div class="mb-3 d-flex align-items-center">
                <h6 class="mb-0 mr-2">Employer: </h6>
                <p class="mb-0">
                  <%= data.team.employer.employer_name %> </p>
              </div>
              <div class="mb-3 d-flex align-items-center">
                <h6 class="mb-0 mr-2">Contact: </h6>
                <p class="mb-0"><a
                    href=<%= 'tel:'+data.team.employer.phone %>><%= data.team.employer.phone %>
                  </a>,
                  <a
                    href=<%= 'mailto:'+data.team.employer.email %>><%= data.team.employer.email %></a>
                </p>
              </div>
              <div class="mb-3 d-flex align-items-center">
                <h6 class="mb-0 mr-2">Socials: </h6>
                <div class="d-flex justify-content-between">
                  <% if (data.team.employer.social.twitter) { %>
                  <p class="mb-0 mr-2"><a
                      href=<%= data.team.employer.social.twitter %>>Twitter</a>
                  </p>
                  <% } %>
                  <% if (data.team.employer.social.facebook) { %>
                  <p class="mb-0 mr-2"><a
                      href=<%= data.team.employer.social.facebook %>>Facebook</a>
                  </p>
                  <% } %>
                  <% if (data.team.employer.social.instagram) { %>
                  <p class="mb-0 mr-2"><a
                      href=<%= data.team.employer.social.instagram %>>Instagram</a>
                  </p>
                  <% } %>
                  <% if (data.team.employer.social.linkedin) { %>
                  <p class="mb-0 mr-2"><a
                      href=<%= data.team.employer.social.linkedin %>>LinkedIn</a>
                  </p>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% } %>
  
  
  <%- include('../Templates/flashmessagesclear') %>  
</body>
</html>
