<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('../includes/employeeHead') %>

  <style>
    .mr-2 img {
      vertical-align: middle;
      border-style: none;
      max-width: 60px;
      max-height: 60px;
    }
  </style>
</head>

<body>

  <%- include('../includes/employeeHeader') %>
  <%- include('../includes/employeeSideNav') %>

  <main>
    <div class="container-fluid mt-3 pb-5">

      <% if (errorMessage) { %>
      <div role="alert" class="alert alert-danger user-message user-message--error"><%= errorMessage %></div>
      <% }if (success && success.length > 0) { %>
      <div role="alert" class="alert alert-success user-message"><%= success %></div>
      <% } %>

      <div class="row mt-3 justify-content-center">

        <div class="col-12 col-md-4 mb-5">
          <div class="card card1">
            <div class="row">
              <div class="col p-3">
                <p class="text-center font-weight-bold py-3 mb-0 pl-3 font-italic">TRACK</p>
                <p class="text-center py-3 mb-0 pl-3"><%= data.employee.track %></p>
              </div>
              <div class="col p-3">
                <p class="text-center font-weight-bold py-3 mb-0 pl-3 font-italic">TYPE</p>
                <p class="text-center py-3 mb-0 pl-3"><%= data.employee.user_type %></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 mb-5">
          <div class="card card2">
            <div class="row">
              <div class="col p-3">
                <p class="text-center font-weight-bold py-3 mb-0 pl-3 font-italic">AVAILABLE</p>
                <p class="text-center py-3 mb-0 pl-3 text-uppercase"><%= data.employee.availability.replace('-', " ") %>
                  %></p>
              </div>
              <div class="col p-3">
                <p class="text-center font-weight-bold py-3 mb-0 pl-3 font-italic">STATUS</p>
                <p class="text-center py-3 mb-0 pl-3"><%= data.employee.verification_status %> %></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 mb-5">
          <div class="card card3 p-3">
            <p class="py-3 mb-0 font-italic font-weight-bold">TEAM </p>
            <div class="">
              <div>
                <% if (data.team) { %>
                <p class="mb-3">You are a member of team
                  <%= data.team.name %> </p>
                <p class="mb-0">
                  <%= data.team.employer.employer_name %> </p>
                <% } else { %>
                <p class="py-3 mb-0">You aren't in any team yet</p>
                <% } %>
              </div>
              <% if (data.team) { %>
              <div class="text-right mt-3">
                <button class="btn btn-primary btn-white" data-toggle="modal" data-target="#teamModal">
                  View team info
                </button>
              </div>
              <% } %>

              <!-- Modal -->
              <% if (data.team) { %>
              <div id="teamModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><%= data.team.name %>
                        (<%= data.team.status %> )
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="img-container">
                        <img src=<%= data.team.employer.photo %> alt="employer photo" class="img-fluid rounded mx-auto">
                      </div>
                      <div class="mt-4">
                        <div class="mb-3 d-flex align-items-center">
                          <h6 class="mb-0 mr-2">Employer: </h6>
                          <p class="mb-0">
                            <%= data.team.employer.employer_name %> </p>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                          <h6 class="mb-0 mr-2">Contact: </h6>
                          <p class="mb-0"><a href=<%= 'tel:'+data.team.employer.phone %>><%= data.team.employer.phone %>
                            </a>,
                            <a href=<%= 'mailto:'+data.team.employer.email %>><%= data.team.employer.email %></a>
                          </p>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                          <h6 class="mb-0 mr-2">Socials: </h6>
                          <div class="d-flex justify-content-between">
                            <% if (data.team.employer.social.twitter) { %>
                            <p class="mb-0 mr-2"><a href=<%= data.team.employer.social.twitter %>>Twitter</a>
                            </p>
                            <% } %>
                            <% if (data.team.employer.social.facebook) { %>
                            <p class="mb-0 mr-2"><a href=<%= data.team.employer.social.facebook %>>Facebook</a>
                            </p>
                            <% } %>
                            <% if (data.team.employer.social.instagram) { %>
                            <p class="mb-0 mr-2"><a href=<%= data.team.employer.social.instagram %>>Instagram</a>
                            </p>
                            <% } %>
                            <% if (data.team.employer.social.linkedin) { %>
                            <p class="mb-0 mr-2"><a href=<%= data.team.employer.social.linkedin %>>LinkedIn</a>
                            </p>
                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-5 mb-5">
          <div class="card p-3">
            <h4 class="py-3 mb-0 font-weight-bold">Portfolio</h4>
            <div class="">
              <div>
                <% if (data.portfolios.length) { %>
                <ul class="list-group list-group-flush">
                  <% data.portfolios.forEach(function(item) { %>
                  <li class="list-group-item">
                    <a href="<%= item.link %>" style="color: darkblue;" class="portfolio-link">
                      <%= item.title %>
                    </a>
                  </li>
                  <% }); %>
                </ul>
                <%} else { %>
                <p class="">Nothing portfolio has been added yet</p>
                <% } %>
              </div>
              <div class="text-right mt-3">
                <a href="<%= portfolioPath %>" class="btn btn-primary">View
                  portfolio</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-7 mb-5">
          <div class="card p-3">
            <h4 class="py-3 mb-0 font-weight-bold">Skills </h4>
            <div class="">
              <% if (data.skills.length) { %>
              <ul class="list-group list-group-flush">
                <% data.skills.forEach(function(skill, index){ %>
                <li class="list-group-item d-flex justify-content-between">
                  <div class="">
                    <i class="fa fa-code-fork pr-2" aria-hidden="true"></i>
                    <span class="d-inline-block pr-5"><%=skill.skill_description %></span>
                  </div>
                  <div class="">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#editSkillModal"
                      onclick="editSkill(`<%=skill.skill_description %>`)">Edit</button>
                    <button class="btn btn-danger"  onclick="deleteSkill(`<%= skill.id %>`)">Delete</button>
                  </div>
                </li>
                <% }); %>
              </ul>
              <%} else { %>
              <p>No skill has been added yet</p>
              <% } %>
              <div class="text-right mt-3">
                <a href="" data-toggle="modal" data-target="#addSkillModal" class="btn btn-primary">Add
                  skills</a>
              </div>
            </div>

            <!-- Add Skill Modal -->
            <div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered d-felx justify-content-center">
                <div class="card">
                  <div class="modal-content">
                    <div class="modal-body">
                      <form id="add-skills" action="/employee/create/skill" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <input class="form-control form-control-lg" type="text" name="skill_description"
                          placeholder="e.g Bootstrap 4">
                        <div class="d-flex justify-content-center">
                          <button type="submit" class="btn btn-primary my-4">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Edit Skill Modal -->
            <div class="modal fade" id="editSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered d-felx justify-content-center">
                <div class="card">
                  <div class="modal-content">
                    <div class="modal-body">
                      <form id="edit-skill" action="/employee/create/skill" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <input value="" class="editSkill form-control form-control-lg" type="text"
                          name="skill_description" placeholder="e.g Bootstrap 4">
                        <div class="d-flex justify-content-center">
                          <button type="submit" class="btn btn-primary my-4">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- <pre>
      <%#= JSON.stringify(data, "", 2) %> 
    </pre> -->
  </main>

  <%- include('../Templates/flashmessagesclear') %>
  <script src="/js/custom-js/side-nav.js"></script>
  <script src="/js/custom-js/employee-dashboard.js"></script>
</body>

</html>