<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include('../Templates/head') %>

    <!-- Employer sign up additional styles -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/custom-css/employer-sign-up.css" />
  </head>

  <body>
    <!-- NAV-BAR -->
    <%- include('../Templates/header') %>

    <section>
      <div class="container-fluid content-container">
        <div class="row">
          <div class="col-lg-5 d-lg-block image overlay img--side">
            <div class=""></div>
          </div>

          <div class="col-lg-7 p-lg-5">
            <div class="container">
              <div class="form-box">
                <div class="header my-3">
                  <h4>Welcome to TalentPool</h4>
                  <p class="text-muted">
                    Let's get your account setup so you can have access to a
                    great pool of talent
                  </p>
                </div>
                <div
                  class="alert alert-danger d-none"
                  style="padding: 0.5rem 1rem;"
                  id="alert"
                  role="alert"
                >
                  <p class="my-0" id="alertMessage"></p>
                </div>
                <section class="mt-5">
                  <div>
                    <div
                      class="nav signup-nav row mb-4"
                      id="nav-tab"
                      role="tablist"
                    >
                      <a
                        class="col-6 text-center nav-item nav-link active individual"
                        id="individual-tab"
                        data-toggle="tab"
                        href="#individual"
                        role="tab"
                        aria-controls="individual"
                        aria-selected="true"
                        >Sign up as Individual</a
                      >
                      <a
                        class="col-6 text-center nav-item nav-link company"
                        id="company-tab"
                        data-toggle="tab"
                        href="#company"
                        role="tab"
                        aria-controls="company"
                        aria-selected="false"
                        >Sign up as Organization</a
                      >
                    </div>
                  </div>
                  <div class="tab-content" id="nav-tabContent">
                    <% if(error && error.length > 0) { %>
                    <div
                      class="alert alert-danger alert-dismissible fade show deposit-alert"
                      role="alert"
                    >
                      <button type="button" class="close" data-dismiss="alert">
                        &times;
                      </button>
                      <div class="container">
                        <%- error %>
                      </div>
                    </div>
                    <% }if(errors && errors.length > 0){ %> <% for(var i=0; i <
                    errors.length; i++) { %>
                    <div
                      class="alert alert-danger alert-dismissible fade show deposit-alert"
                      role="alert"
                    >
                      <button type="button" class="close" data-dismiss="alert">
                        &times;
                      </button>
                      <div class="container">
                        <%- errors[i].msg %>
                      </div>
                    </div>
                    <% } } %>
                    <div
                      class="tab-pane fade show active"
                      id="individual"
                      role="tabpanel"
                      aria-labelledby="individual-tab"
                    >
                      <form
                        action="/employer/register"
                        method="POST"
                        class="needs-validation"
                        id="individualForm"
                        novalidate
                      >
                        <div class="row first-last--name">
                          <input
                            type="hidden"
                            name="_csrf"
                            value="<%= csrfToken %>"
                          />
                          <!-- <div class="col-md-12 my-3 form-group">
                              <label for="organization">Organization Name</label>
                              <input type="text" id="organization" class="form-control form-control-lg"
                                placeholder="Enter organization" required>
                              <div class="invalid-feedback">
                                Enter your Organization
                              </div>
                            </div> -->
                          <div class="col-md my-3 form-group">
                            <label for="firstName">First Name</label>
                            <input
                              type="text"
                              name="firstname"
                              id="firstName"
                              class="form-control form-control-lg form__input"
                              placeholder="Enter first name"
                              required
                              value="<% if(oldInput && oldInput.length > 0){ %> <%- oldInput[0].firstname%> <%} %>"
                            />
                            <div class="invalid-feedback">
                              Enter your first name
                            </div>
                          </div>

                          <div class="col-md my-3 form-group">
                            <label for="lastName">Last Name</label>
                            <input
                              type="text"
                              id="lastName"
                              name="lastname"
                              class="form-control form-control-lg form__input"
                              placeholder="Enter last name"
                              value="<% if(oldInput && oldInput.length > 0){ %> <%- oldInput[0].lastname %> <%} %>"
                              required
                            />
                            <div class="invalid-feedback">
                              Enter your last name
                            </div>
                          </div>
                        </div>
                        <div class="row email-phone">
                          <div class="my-3 col-md">
                            <label for="email" class="form-label"
                              >Email address</label
                            >
                            <input
                              type="email"
                              class="form-control form-control-lg form__input"
                              id="email"
                              placeholder="john@email.com"
                              name="email"
                              value="<% if(oldInput && oldInput.length > 0){ %> <%- oldInput[0].email %> <%} %>"
                              required
                            />
                            <div class="invalid-feedback">
                              Enter a valid email
                            </div>
                          </div>
                          <div class="my-3 col-md">
                            <label for="phoneNo">Phone Number</label>
                            <input
                              type="tel"
                              maxlength="15"
                              inputmode="tel"
                              name="phone" 
                              class="form-control form-control-lg form__input"
                              id="phoneNo"
                              value="<% if(oldInput && oldInput.length > 0){ %> <%- oldInput[0].phone %> <%} %>"
                              placeholder="e.g. 08012345678"
                            />
                            <!-- <label for="employerType">Sign up as</label>
                              <select id="employerType" class="form-control form-control-lg form__select" required>
                                <option value="individual" selected>Individual</option>
                                <option value="organization">Organization</option>
                              </select> -->
                            <div class="invalid-feedback">
                              <!-- Select an option -->
                            </div>
                          </div>
                        </div>
                        <div class="row password-area">
                          <div class="col-md-6 my-3 form-group">
                            <label for="password">Password</label>
                            <input
                              type="password"
                              placeholder="at least 8 characters"
                              class="form-control form-control-lg form__input"
                              inputmode="alpha-numeric"
                              minlength="8"
                              id="password"
                              name="password"
                              required
                            />
                            <div class="invalid-feedback">
                              Enter your password. It must contain at least 8
                              characters.
                            </div>
                          </div>
                          <div class="col-md-6 my-3 form-group">
                            <label for="password">Confirm Password</label>
                            <input
                              type="password"
                              placeholder="at least 8 characters"
                              class="form-control form-control-lg form__input"
                              inputmode="alpha-numeric"
                              minlength="8"
                              name="confirm_password"
                              id="confirmPassword"
                              required
                            />
                            <div class="invalid-feedback">
                              Confirm Password
                            </div>
                          </div>
                        </div>
                        <div class="row checkboxes">
                          <div
                            class="custom-control custom-checkbox col ml-3 mt-3"
                          >
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="receiveMail"
                            />
                            <label
                              class="custom-control-label"
                              for="receiveMail"
                              style="color: black;"
                              >Yes, I want to recieve TalentPool emails</label
                            >
                          </div>
                        </div>
                        <div class="row my-3 checkboxes">
                          <div
                            class="custom-control custom-checkbox col ml-3 mt-3"
                          >
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              name="terms"
                              id="termsPolicy"
                            />
                            <label
                              class="custom-control-label"
                              for="termsPolicy"
                              style="color: black;"
                              >Yes, I agree to the
                              <a href="#">Terms and Conditions</a></label
                            >
                          </div>
                        </div>

                        <div class="loader"></div>
                            <div class="row">
                                <div class="col">
                                    <button class="form-button btn btn-primary btn-block btn-color py-3 mt-3 mb-4 text-white" id="signup-btn" type="submit" data-toggle="" data-target="#exampleModal">Sign Up</button>
                                </div>
            
                                 <!-- Modal -->
                                 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-body d-flex flex-column align-items-center">
                                            <div>
                                                <img src="/img/logo.svg" alt="logo" />
                                            </div>
                                            <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5 18.4L25 30.9L45 18.4L25 5.9L5 18.4ZM50 18.4V43.4C50 44.7261 49.4732 45.9979 48.5355 46.9355C47.5979 47.8732 46.3261 48.4 45 48.4H5C3.67392 48.4 2.40215 47.8732 1.46447 46.9355C0.526784 45.9979 0 44.7261 0 43.4V18.4C0 16.575 0.975 15 2.425 14.125L25 0L47.575 14.125C49.025 15 50 16.575 50 18.4Z" fill="#337AB7"/>
                                            </svg>
            
                                            <h2>Registration Successful !</h2>
                                            <p class="text-center"> A verification link has been sent to your email address, kindly check your mail and click to verify your account.</p>
                                                
                                            <button id="login-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Sign In</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="row social-buttons">
                          <div class="col-md-5 d-none d-md-block">
                              <hr>
                          </div>
                          <div class="col-md-2">
                              <p class="text-center">OR</p>
                          </div>
                          <div class="col-md-5 d-none d-md-block">
                              <hr>
                          </div>
                      </div>
      
                      <div class="row mt-2 social-buttons">
                          <div class="col-md">
                              <a class="social-sign-in" href="/auth/employer/github">
                                  <button type="button" class="btn  btn-block  github-btn py-3 my-1"><i class="fab fa-github pr-2" aria-hidden="true"></i>sign up with Github</button>
                              </a>
                          </div>
      
                          <div class="col-md">
                              <a class="social-sign-in" href="/auth/employer/google">
                                  <button type="button" class="btn btn-block  google-btn py-3 my-1 text-white"><i class="fab fa-google pr-2 text-white" aria-hidden="true"></i>Sign up with Google</button>
                              </a>
                          </div>
                      </div>
                        <div class="text-center acct mt-3 mb-5">
                          Have an account with us?
                          <a href="/employer/login">Sign In</a>
                        </div>
                      </form>
                    </div>

                    <div
                      class="tab-pane fade"
                      id="company"
                      role="tabpanel"
                      aria-labelledby="company-tab"
                    >
                      <form
                        action="/employer/registerOrganization"
                        method="POST"
                        class="needs-validation"
                        id="orgForm"
                        novalidate
                      >
                        <div class="row first-last--name">
                          <input
                            type="hidden"
                            name="_csrf"
                            value="<%- csrfToken %>"
                          />
                          <div class="col-md-12 my-3 form-group">
                            <label for="orgName">Organization Name</label>
                            <input
                              type="text"
                              class="form-control form-control-lg form__input"
                              id="orgName"
                              name="orgName"
                              placeholder="Enter organization name"
                              value="<% if(oldInput && oldInput.length > 0){ %> <%- oldInput[0].organizationName %> <%} %>"
                              required
                            />
                            <div class="invalid-feedback">
                              Please enter your organization's name
                            </div>
                          </div>
                        </div>

                        <div class="row email-phone">
                          <div class="form-group my-3 col-md">
                            <label for="orgEmail" class="form-label"
                              >Email address</label
                            >
                            <input
                              type="email"
                              name="email"
                              class="form-control form-control-lg form__input"
                              id="orgEmail"
                              placeholder="john@email.com"
                              value="<% if(oldInput && oldInput.length > 0){ %> <%- oldInput[0].email %> <%} %>"
                              required
                            />
                            <div class="invalid-feedback">
                              Enter a valid email
                            </div>
                          </div>
                        </div>

                        <div class="row password-area">
                          <div class="col-md my-3 form-group">
                            <label for="orgPassword">Password</label>
                            <input
                              type="password"
                              name="password"
                              placeholder="at least 8 characters"
                              class="form-control form-control-lg form__input"
                              inputmode="alpha-numeric"
                              id="orgPassword"
                              required
                            />
                            <div class="invalid-feedback">
                              Enter your password. It must contain at least 8
                              characters.
                            </div>
                          </div>
                          <div class="col-md my-3 form-group">
                            <label for="confirmOrgPassword"
                              >Confirm Password</label
                            >
                            <input
                              type="password"
                              placeholder="at least 8 characters"
                              class="form-control form-control-lg form__input"
                              inputmode="alpha-numeric"
                              id="confirmOrgPassword"
                              name="confirm_password"
                              required
                            />
                            <div class="invalid-feedback">
                              Enter your password. It must contain at least 8
                              characters.
                            </div>
                          </div>
                        </div>

                        <div class="row"></div>

                        <div class="row checkboxes">
                          <div
                            class="custom-control custom-checkbox col ml-3 mt-3"
                          >
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="orgRecieveMail"
                            />
                            <label
                              class="custom-control-label"
                              for="orgRecieveMail"
                              style="color: black;"
                              >Yes, we want to receive TalentPool emails</label
                            >
                          </div>
                        </div>

                        <div class="row my-3 checkboxes">
                          <div
                            class="custom-control custom-checkbox col ml-3 mt-3"
                          >
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="orgTerms"
                              name="terms"
                            />
                            <label
                              class="custom-control-label"
                              for="orgTerms"
                              style="color: black;"
                              >Yes, we have read and agree to the
                              <a href="#">Terms and Conditions</a></label
                            >
                          </div>
                        </div>

                        <div class="loader"></div>
                            <div class="row">
                                <div class="col form-button">
                                    <button class="btn btn-primary btn-block btn-color py-3 mt-3 mb-4 text-white" id="signup-btn1" type="submit" data-toggle="" data-target="#exampleModal">Sign Up</button>
                                </div>
            
                                 <!-- Modal -->
                                 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                        <div class="modal-body d-flex flex-column align-items-center">
                                            <div>
                                                <img src="/img/logo.svg" alt="logo" />
                                            </div>
                                            <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5 18.4L25 30.9L45 18.4L25 5.9L5 18.4ZM50 18.4V43.4C50 44.7261 49.4732 45.9979 48.5355 46.9355C47.5979 47.8732 46.3261 48.4 45 48.4H5C3.67392 48.4 2.40215 47.8732 1.46447 46.9355C0.526784 45.9979 0 44.7261 0 43.4V18.4C0 16.575 0.975 15 2.425 14.125L25 0L47.575 14.125C49.025 15 50 16.575 50 18.4Z" fill="#337AB7"/>
                                            </svg>
            
                                            <h2>Registration Successful !</h2>
                                            <p class="text-center"> A verification link has been sent to your email address, kindly check your mail and click to verify your account.</p>
                                                
                                            <button id="login-btn1" type="button" class="btn btn-secondary" data-dismiss="modal">Sign In</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="row social-buttons">
                          <div class="col-md-5 d-none d-md-block">
                              <hr>
                          </div>
                          <div class="col-md-2">
                              <p class="text-center">OR</p>
                          </div>
                          <div class="col-md-5 d-none d-md-block">
                              <hr>
                          </div>
                      </div>

                        <div class="row mt-2 social-buttons">
                          <div class="col-md">
                            <a class="social-sign-in" href="/auth/employer/github">
                              <button
                                type="button"
                                class="btn btn-block github-btn py-3 my-1"
                              >
                                <i
                                  class="fab fa-github pr-2"
                                  aria-hidden="true"
                                ></i
                                >sign up with Github
                              </button>
                            </a>
                          </div>

                          <div class="col-md">
                            <a class="social-sign-in" href="/auth/employer/google">
                              <button
                                type="button"
                                class="btn btn-block google-btn py-3 my-1 text-white"
                              >
                                <i
                                  class="fab fa-google pr-2 text-white"
                                  aria-hidden="true"
                                ></i
                                >sign up with Google
                              </button>
                            </a>
                          </div>
                        </div>
                        <div class="text-center acct mt-3 mb-5">
                          Have an account with us?
                          <a href="/employer/login">Sign In</a>
                        </div>
                      </form>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body d-flex flex-column align-items-center">
              <div>
                <img src="../img/logo.svg" alt="logo" />
              </div>
              <svg
                width="50"
                height="49"
                viewBox="0 0 50 49"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 18.4L25 30.9L45 18.4L25 5.9L5 18.4ZM50 18.4V43.4C50 44.7261 49.4732 45.9979 48.5355 46.9355C47.5979 47.8732 46.3261 48.4 45 48.4H5C3.67392 48.4 2.40215 47.8732 1.46447 46.9355C0.526784 45.9979 0 44.7261 0 43.4V18.4C0 16.575 0.975 15 2.425 14.125L25 0L47.575 14.125C49.025 15 50 16.575 50 18.4Z"
                  fill="#337AB7"
                />
              </svg>

              <h2>Registration Successful!</h2>
              <p class="text-center">
                A verification link has been sent to your email address, kindly
                check your mail and click to verify your account.
              </p>

              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                onclick="location.assign('/employer/login')"
              >
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('../Templates/footer') %> <%- include('../Templates/script') %>
    <script>
      $(document).ready(function(){
        var hash = window.location.hash;
        hash && $('div.nav a[href="' + hash + '"]').tab('show');
        $(window).scrollTop();
      });
      // Getting verify status to know if registration is successful or not
      const verifyStatus = `<%- success %>`;
      if (verifyStatus == 'Verification email sent!') {
        // Displaying the modal
        $('#exampleModal').modal();
      }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <!-- <script src="js/custom-js/employer-sign-up.js" type="module"></script> -->
  </body>
</html>
