<!DOCTYPE html>
<html>
  <head>
    <%- include('../Templates/head') %>
     <link href="/styles/custom-css/flags.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="/styles/custom-css/employer-profile-page-creation1.css">
  </head>
  <body onload="inputSize()" onresize="inputSize()">
   <!-- NAV-BAR -->
  <%- include('../Templates/employeeHeaderLogin', { route: '/employer-dashboard' }) %>

  <style>
  </style>

   <!--NOTIFICATION TOAST-->
   <div class="slide-in from-right">
       <div class="slide-in-content">
           <div class="row">
               <span class="col-10" style="padding-top: 4px">Success Message oei </span>
               <span class="col-2" style="padding-top: 2px"><span class="lds-hourglass"></span></span>
           </div>
       </div>
   </div>

    <main>
        <div class="mt-5">
            <div class="container text-center">
                <h5 class="heading-color ">Let’s get started with a few details about your company </h5>
                <div class="container pt-5 center">
                    <div class="row ">
                        <div class="col-sm-2"></div>
                        <div class="col-sm col-">
                            <div class="form-progress ">
                                <div class="center">
                                    <progress class="form-progress-bar" min="0" max="33" value="0" step="33" aria-labelledby="form-progress-completion"></progress>
                                    <div class="form-progress-indicator one active"> <i class="text-default mb-2 fa-2x fa fa-check-circle" aria-hidden="true"></i>
                                    </div>
                                    <div class="form-progress-indicator two"><i class="text-default mb-2 fa-2x fa fa-circle-thin" aria-hidden="true"></i></div>
                                    <p id="form-progress-completion" class="js-form-progress-completion sr-only" aria-live="polite">0% complete</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

      <form action="#" method="post" id="employerProfileForm" class="needs-validation" novalidate>
        <div id="details" class="mt-5">
            <div class="container">
              <div class="alert alert-danger d-none" style="padding: 0.5rem 1rem;" id="alert" role="alert">
                <p class="my-0" id="alertMessage"></p>
              </div>
                <h5 class="heading-color">Employer details</h5>
                <div class="row">
                    <div id="profile" class="mt-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md">
                                    <label for="organization_logo" style="cursor: pointer">
                                        <figure class="profile-figure">
                                            <div class="img-preview-sect"
                                                 style="padding: 14px 4em 14px 10px; display: inline-block; border-right: 1px solid #084482">
                                                <img id="profile-image-preview" class="profile-img img-fluid"
                                                     height=243px width=243px src="/img/profile-image.jpeg" alt=""
                                                     style="min-height: 243px; max-height: 243px"
                                                />
                                            </div>
                                            <figcaption class="mt-2 d-md-none profile-figcaption">Profile Picture</figcaption>
                                        </figure>
                                    </label>
                                </div>

                                    <div class="col-md margt">
                                    <div class="row ">
                                        <div class="col-sm-8 left-div">
                                            <input type="text" class="form-control em-input"
                                                   id="logo" placeholder="Upload file" readonly
                                            >
                                        </div>
                                        <label for="organization_logo" class="col-sm right-div" style="cursor: pointer">
                                            <div class="btn new-btn m" style="cursor: pointer">
                                                <input id="organization_logo" onchange="readImage()"
                                                       type="file" name="logo" />
                                                Browse
                                            </div>
                                        </label>
                                        <!-- <div style='clear:both;'>&nbsp;</div> -->


                                    </div>
                                    <span class="small">300 x 300px recommended. JPGs and PNG supported</span>
                                </div>

                            </div>
                        </div>
                    </div>

                <!-- <div class="col-xs-12 col-md-6">
                    <h3>Result</h3>

                    <form>
                        <div class="form-group">
                            <label>Select Country</label><br>

                            <div id="basic" data-input-name="country"></div>
                        </div>
                    </form>
                </div> -->


                </div>
                <div class="row mt-5 mobile-margin-fix1">
                    <div class="col-sm-6 col-lg-6 form-group">
                      <label for="employer_type">Employer Type</label>
                      <select class="form-control em-input select" required onchange="getEmployerType()" id="employer_type">
                          <option disabled selected value="">Select Employer type</option>
                          <option value="company">Company</option>
                          <option value="individual">Individual</option>
                      </select>
                    </div>
                    <div class="col-sm-6 col-lg-6 form-group" id="organizationNameContainer">
                        <label for="lastname">Organization Name</label>
                        <input type="text" required class="form-control em-input" id="organization_name" placeholder="Tom">
                    </div>
                    <div class="col-sm-6 col-lg-6 form-group" id="individualNameContainer" style="display: none">
                        <div class="row">
                            <div class="col-6">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control em-input" id="first_name" placeholder="Tom">
                            </div>
                            <div class="col-6">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control em-input" id="last_name" placeholder="Brady">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-5 mobile-margin-fix2">
                    <div class="col-sm-6 col-lg-6 form-group">
                        <label for="organization_email">Email</label>
                        <input required type="email" class="form-control em-input" id="organization_email" placeholder="Tom@gmail.com">
                    </div>
                    <div class="col-sm-6 col-lg-6 form-group">
                      <div class="row">
                          <div class="col-sm-3 col-3 left-div" id="genderContainer" style="display: none">
                              <label for="gender">Sex</label>
                              <select class="form-control em-input select" id="gender">
                                  <option selected disabled value="">Sex</option>
                                  <option value="male">Male</option>
                                  <option value="memale">Female</option>
                                  <option value="other">Other</option>
                              </select>
                          </div>
                          <div class="col-sm-4 col-4" id="countryContainer">
                              <label for="country_code">Country</label>
                              <!-- <input required type="text" class="form-control wid em-input" id="country_code" placeholder="+234"> -->
                              <select class="selectpicker" data-live-search="true">
                                <option data-tokens="">N/A</option>
                              </select>
                          </div>
                          <div class="col-sm-8 col-8" style="padding-left: 0" id="orgPhoneContainer">
                              <label for="phone">Phone No.</label>
                              <input required type="text" class="form-control em-input" id="organization_phone" placeholder="Enter No.">
                          </div>
                      </div>
                  </div>
                </div>

                <div class="row mt-5 mobile-margin-fix2">
                    <div class="col-sm-6 col-lg-6 form-group">
                      <label for="industry">Industry</label>
                      <select required class="form-control em-input select" name="industry" id="company_category">
                          <option disabled selected value="">Select Industry</option>
                          <% data.forEach(function(category){ %>
                            <option value="<%= category.category_id %>"><%= category.category_name %></option>
                          <% }); %>
                      </select>
                  </div>

                    <div class="col-sm-6 col-lg-6 form-group mobile-margin-zero">
                      <label for="website">Website</label>
                      <input type="text" class="form-control em-input" id="website_url" placeholder="Enter website url">
                  </div>

                </div>
                <div class="row mt-5 mobile-margin-fix2">

                  <div class="col-sm-6 col-lg-6 form-group">
                    <label for="address">Address</label>
                    <input required type="text" class="form-control em-input" id="organization_address" placeholder="Nigeria">
                  </div>

                  <div class="form-group col-sm-6 col-lg-6 mobile-margin-fix2">
                    <label for="exampleFormControlTextarea1">About Employer</label>
                    <textarea class="form-control" id="description" rows="5" placeholder="Enter short description about you"></textarea>
                  </div>

                </div>

            </div>
        </div>
        </div>

        <div class="mt-5 mb-5 pb-5 mobile-margin-pixel">
            <div class="container text-right center">
                <button class="btn new-btn2 mb-5" id="uploadProfile" type="submit">Create</button>
                <button class="btn new-btn2 mb-5 lds-ellipsis" id="loader" type="submit"
                        disabled style="display: none; cursor: wait"
                >
                    <span>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </span>
                </button>
                <span class="small" id="noImage" style="display: none; color: #dc3545">! Please upload an image</span>
            </div>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
    </main>

   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="/js/custom-js/toast.js"></script>

   <script src="/js/custom-js/countries.js"></script>

   <script src="/js/custom-js/employer-profile-creation.js"></script>
  <%- include('../Templates/footer') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

   <script>
        const option = (value, flag) => {
          return `
          <option data-icon="flagstrap-icon flagstrap-${flag}" data-tokens="${value}">${value}</option>
          `;
        };

        const [select] = document.querySelectorAll('.selectpicker');
        for (const [key, value] of Object.entries(countries)) {
          select.innerHTML += option(value, key.toLowerCase());
        }

    </script>
   </script>
    </script>
  </body>
</html>
