<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../Templates/head') %>
    <link rel="stylesheet" href="../styles/custom-css/forgot-password.css">
    <style>
        #error, #error-currentPassword{
            width: 100%;
            align-items: center;
            /*border: 1px solid rgba(255, 0, 0, 0.329);*/
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1em;
            display: none; 
  
        }
        #success-reset{
            width: 100%;
            align-items: center;
            /*border: 1px solid rgba(0, 255, 85, 0.377);*/
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1em;
            display: none; 
        }
        #success-reset h5{
            color:rgba(0, 255, 85, 0.377);
            padding: 3px;
        }
        #error small,
        #error-currentPassword small{
          color: red;
          padding: 3px;
          
        }
  </style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body class="pass_reset-page">
    <!-- NAV-BAR -->
    <%- include('../../Templates/header') %>

    <div class="container-fluid">
        <div class="form-center">
            <h1>Reset Password</h1>
            <!-- <p>For the safety of your account, please enter a strong password</p> -->

            <form id="reset-password" action="/auth/reset/password" method="POST">


                <% if (errorMessage) { %>
                    <div role="alert" class="alert alert-danger user-message user-message--error"><%= errorMessage %></div>
                <% }if (success && success.length > 0) { %>
                    <div role="alert" class="alert alert-success user-message"><%= success %></div>
                <% } %>


                <div class="form-group">
                    <label for="password">Enter New Password</label> 
                    <input type="password"  name="password"  class="form-control" id="password" placeholder="type password" required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input id="confirmPassword"  name="confirmPassword" type="password" class="form-control"
                        placeholder="retype password" required>
                </div>
                <input type="hidden" name="token" value="<%= token %>" />
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit" class="btn password-reset-btn btn-lg btn-block" id="resendPassBtn">Reset
                    Password</button>
            </form>
        </div>
    </div>
    <script src="../js/bootstrap-js/popper.js"></script>
    <script src="../js/bootstrap-js/jquery.js"></script>
    <script src="../js/bootstrap-js/bootstrap.js"></script>
    <!-- <script src="../js/custom-js/reset-password.js"></script> -->
</body>
</html>